body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1310px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1136px;
  height:640px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1136px;
  height:640px;
}
#u1 {
  position:absolute;
  left:2px;
  top:312px;
  width:1132px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:58px;
  top:530px;
  width:80px;
  height:80px;
  font-size:20px;
  color:#1E1E1E;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u3 {
  position:absolute;
  left:2px;
  top:28px;
  width:76px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:380px;
  top:70px;
  width:260px;
  height:490px;
  color:#9933FF;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:490px;
}
#u5 {
  position:absolute;
  left:2px;
  top:237px;
  width:256px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:910px;
  top:430px;
  width:400px;
  height:400px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:400px;
}
#u7 {
  position:absolute;
  left:2px;
  top:192px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:1006px;
  top:528px;
  width:104px;
  height:104px;
  font-family:'Arial Cursiva', 'Arial';
  font-style:italic;
  font-size:16px;
  color:#999999;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:104px;
}
#u9 {
  position:absolute;
  left:2px;
  top:42px;
  width:100px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:1012px;
  top:534px;
  width:94px;
  height:94px;
  font-family:'Arial Cursiva', 'Arial';
  font-style:italic;
  font-size:16px;
  color:#999999;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:94px;
}
#u11 {
  position:absolute;
  left:2px;
  top:38px;
  width:90px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:1036px;
  top:396px;
  width:74px;
  height:74px;
  font-family:'Arial Cursiva', 'Arial';
  font-style:italic;
  font-size:16px;
  color:#999999;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:74px;
}
#u13 {
  position:absolute;
  left:2px;
  top:28px;
  width:70px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:1042px;
  top:402px;
  width:64px;
  height:64px;
  font-family:'Arial Cursiva', 'Arial';
  font-style:italic;
  font-size:16px;
  color:#999999;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u15 {
  position:absolute;
  left:2px;
  top:22px;
  width:60px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:956px;
  top:420px;
  width:74px;
  height:74px;
  font-family:'Arial Cursiva', 'Arial';
  font-style:italic;
  font-size:16px;
  color:#999999;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:74px;
}
#u17 {
  position:absolute;
  left:2px;
  top:28px;
  width:70px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:962px;
  top:424px;
  width:64px;
  height:64px;
  font-family:'Arial Cursiva', 'Arial';
  font-style:italic;
  font-size:16px;
  color:#999999;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u19 {
  position:absolute;
  left:2px;
  top:22px;
  width:60px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:902px;
  top:480px;
  width:74px;
  height:74px;
  font-family:'Arial Cursiva', 'Arial';
  font-style:italic;
  font-size:16px;
  color:#999999;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:74px;
}
#u21 {
  position:absolute;
  left:2px;
  top:28px;
  width:70px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:874px;
  top:560px;
  width:74px;
  height:74px;
  font-family:'Arial Negreta cursiva', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:72px;
  color:#999999;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:74px;
}
#u23 {
  position:absolute;
  left:2px;
  top:29px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:908px;
  top:486px;
  width:64px;
  height:64px;
  font-family:'Arial Negreta cursiva', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:72px;
  color:#999999;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u25 {
  position:absolute;
  left:2px;
  top:-10px;
  width:60px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:880px;
  top:564px;
  width:64px;
  height:64px;
  font-family:'Arial Negreta cursiva', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:72px;
  color:#999999;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u27 {
  position:absolute;
  left:2px;
  top:-10px;
  width:60px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:936px;
  top:332px;
  width:200px;
  height:60px;
  overflow:hidden;
  visibility:hidden;
}
#u28_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:60px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u28_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:60px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:60px;
}
#u30 {
  position:absolute;
  left:2px;
  top:22px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:10px;
  top:13px;
  width:180px;
  height:35px;
  font-size:16px;
  text-align:center;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:35px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:936px;
  top:332px;
  width:200px;
  height:60px;
  overflow:hidden;
  visibility:hidden;
}
#u33_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:60px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u33_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:60px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:60px;
}
#u35 {
  position:absolute;
  left:2px;
  top:22px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:10px;
  top:13px;
  width:180px;
  height:35px;
  font-size:16px;
  text-align:center;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:35px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:380px;
  top:70px;
  width:260px;
  height:490px;
  color:#9933FF;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:490px;
}
#u39 {
  position:absolute;
  left:2px;
  top:237px;
  width:256px;
  word-wrap:break-word;
}
